# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Environment Variables
.env
.env.*

# OS & System Files
.DS_Store
Thumbs.db

# Local Scripts
startAll.bat
testAll.bat
testAllLocalVersion.bat